h1{
    text-align: center;
   
}
a{
    text-align: center;
    font-size: 1.2em;
    color: green;
}
img{
    margin: auto;
    display: block;
}
p{
    font-size: 1.2em;
}
.familiatexto{
    font-family:"papyrus" ;
    font-size: 1.2em;
    color: ghostwhite;
}
footer{
    background-color: gray;
    text-align: center;
}